doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= question.title
		link(rel='stylesheet', href='/stylesheets/detail_question.css')
		script(src='/javascripts/jquery-3.5.1.js')
	body
		article(id=question._id)
			a(href='/') Back
			#question_area
				h5= question.space
				- var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				br
				span(class='user_name')= question.creatorname
				span= " posted at " + question.time.getDate() + ' ' + months[question.time.getMonth()] + ' ' + question.time.getFullYear()
				#question_detail
					h1= question.title
					p= question.content
				if user != null
					if question.creatorid == user._id
						#question_buttons
							button(onclick="show_edit_question('" + question._id + "', '" + user._id + "', this)") Edit
							button(onclick="delete_question('" + question._id + "', '" + user._id + "', this)") Delete
			if user != null
				.upvote(onclick="upvote('" + question._id + "', '" + user._id +"', this)")
					if question.upvoted
						img(src='/images/upvoted.png')
						span= " Upvote (" + question.up.length + ")"
					else
						img(src='/images/upvote.png')
						span= " Upvote (" + question.up.length + ")"
			else
				.upvote(style="cursor: default") 
					img(src='/images/upvote.png')
					span= " Upvote (" + question.up.length + ")"
			.answer_area
				if question.detailAnswers.length == 0
					p No answers currently
				each ans in question.detailAnswers
					.answer(id=ans.id)
						span(class='user_name')= ans.uname
						span= " posted at " + ans.time.getDate() + ' ' + months[ans.time.getMonth()] + ' ' + ans.time.getFullYear()
						p= ans.content
						if user != null
							if ans.uid == user._id
								button(onclick="delete_answer('" + question._id + "', '" + user._id + "', '" + ans.id + "', this)") Delete
				if user != null
					.add_new_answer
						span(class='user_name')= user.name
						p(onclick="show_new_answer('" + question._id + "', '" + user._id + "', this)") Post your new answer
	script(src='/javascripts/detail_question.js')